/* ---- PLANOS ---- */
.plan {
  padding: 10px;
  border: 1px solid #95a4a5;

  font-size: 1.4rem; /* 14px */
}

.plan:hover {
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.44);
}

.plan__header {
  margin: -10px;
  margin-bottom: 0;

  background-color: #95a4a5;
  color: #fff;

  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  font-size: 2em;
}

.plan__price {
  margin: 20px 0;

  text-align: center;
  font-size: 28px;
  font-size: 2em;
}

.plan__infos {
  padding: 0;
  margin: 20px 0;

  list-style: none;
  font-size: 1em;
}

.plan__infos > li {
  text-align: center;
}

.plan__footer {
  text-align: center;
}

/* ---- PLANOS ---- */

.button {
  padding: 0.8em 1.2em;
  display: inline-block;
  border: 1px solid transparent;

  background-color: #bbb;
  color: #fff;

  text-decoration: none;
}

.button:hover,
.button :focus {
  box-sizing: border-box;
  background-color: #aaa;
  color: #fff;

  text-decoration: none;

  transition: 300ms linear;
}

.button--sign {
  background-color: #127d00;
}

.button--sign:hover,
.button--sign:focus {
  background-color: #fff;
  color: #127d00;
  border: 1px solid #127d00;
}

.button--main {
  background-color: #004b86;
  border-radius: 8px;
}

.button--main:hover,
.button--main:focus {
  background-color: #fff;
  color: #003b6a;
  border: 1px solid #003b6a;
}

/* ---- Apresentação ---- */

.presentation {
  font-size: 1.6rem;
  text-align: center;
}

.presentation__title {
  margin: 0;

  color: #fff;

  font-size: 3.375em;
  line-height: 0.9;
  text-shadow: 1px 1px #313131;
}

.presentation__subtitle {
  margin: 60px 0;

  color: #fff;
  font-size: 1em;
}

.presentation__action {
  font-size: 1;
}

@media (min-width: 992px) {
  .presentation {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2rem;
  }
}
